
<!DOCTYPE html>
<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href={{url_for('static',filename='style.css')}} type="text/css"/>
<link rel="stylesheet" href={{url_for('static',filename='style-print.css')}} type="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginpage.css">
    </head>
<body>
<div id="wrapper">
  <div class="title">
    <div class="title-top">
      <div class="title-left">
        <div class="title-right">
          <div class="title-bottom">
            <div class="title-top-left">
              <div class="title-bottom-left">
                <div class="title-top-right">
                </head>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <h1>Welcome!</h1>
    <h1>Hepatitis C Prediction</h1>
 <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- <link rel="stylesheet" href="loginpage.css"> -->
    <title>Login page in HTML</title>
</head>
<body>
    <form action="/input" method="POST">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <h3>Sign in</h3>
            <p>Sign in with your username and password</p>
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- Username -->
            <label for="username">Your username</label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <br>
            <br>

            <!-- Password -->
            <label for="pswrd">Your password</label>
            <input type="password" placeholder="Enter Password" name="pswrd" required>

            <br>

            <!-- Submit button -->
             <input type="submit" name="submit" value="Login">
             <!--<li><a href="file:///C:/Users/anjan/OneDrive/Desktop/ML-CIA2/templates/page2.html">Login</a></li>-->

        </div>

    </form>

  </body>
</html>
