
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href={{url_for('static',filename='style.css')}} type="text/css"/>
<link rel="stylesheet" href={{url_for('static',filename='style-print.css')}} type="text/css"/>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="loginpage.css">
        </head>
<body>
<div id="wrapper">
  <div class="title">
    <div class="title-top">
      <div class="title-left">
        <div class="title-right">
          <div class="title-bottom">
            <div class="title-top-left">
              <div class="title-bottom-left">
                <div class="title-top-right">
                </head>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <h1></h1>
    <h1>Hepatitis C </h1>
 <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- <link rel="stylesheet" href="loginpage.css"> -->
    <title></title>
</head>
<body>
    <form action="receive" method="POST">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <h3>USER DETAILS</h3>
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- blood group -->
            <label for="bloodgroup">Enter blood group</label>
            <input type="text" placeholder="Enter blood group" name="bloodgroup" required>

            <br><br>

            <!-- gmat -->
            <label for="gmat">Your gmat score</label>
            <input type="gmat" placeholder="Enter gmat score" name="gmat" required>

            <!-- gpa -->
            <label for="gpa">Your gpa score</label>
            <input type="gpa" placeholder="Enter gpa score" name="gpa" required>

            <!-- work_experience -->
            <label for="work_experience">Your work_experience</label>
            <input type="work_experience" placeholder="Enter work_experience" name="work_experience" required>

            
            <!-- admitted -->
            <label for="admitted">Your admission</label>
            <input type="admitted" placeholder="Enter admission" name="admitted" required>

            <br>
            
            <!-- Submit button -->
            <input type="submit" name="submit" value="submit">
            

        </div>

    </form>
</body>
</html>
   